<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.springboot.shiro.mapper.UserMapper" >

  <resultMap id="BaseResultMap" type="com.example.springboot.shiro.entity.User">
      <id column="id" property="id" jdbcType="BIGINT" />
      <result column="username" property="username" jdbcType="VARCHAR" />
      <result column="contacts" property="contacts" jdbcType="VARCHAR" />
      <result column="gender" property="gender" jdbcType="TINYINT" />
      <result column="password" property="password" jdbcType="VARCHAR" />
      <result column="email" property="email" jdbcType="VARCHAR" />
      <result column="mobile" property="mobile" jdbcType="VARCHAR" />
      <result column="role_id" property="roleId" jdbcType="BIGINT" />
      <result column="status" property="status" jdbcType="TINYINT" />
  </resultMap>

  <sql id="NonIncludePasswordFields">
    id, username, gender, contacts, mobile, email, role_id, status
  </sql>

    <sql id="AllFields">
    id, username, password, gender, contacts, mobile, email, role_id, status
  </sql>

  <select id="findUserByUserName" parameterType="String" resultMap="BaseResultMap">
      SELECT
        <include refid="AllFields" />
      FROM
        t_user t1
      WHERE username = #{username}
  </select>
  <select id="findAllUsers" resultMap="BaseResultMap">
      SELECT
        <include refid="NonIncludePasswordFields" />
      FROM
        t_user
  </select>
    <select id="findUsersByRoleId" parameterType="Long" resultMap="BaseResultMap">
        SELECT
          <include refid="NonIncludePasswordFields" />
        FROM
          t_user
        WHERE
          role_id = #{roleId}
    </select>
    <select id="findUsersByCondition" resultMap="BaseResultMap">
        SELECT
            <include refid="NonIncludePasswordFields" />
        FROM
            t_user
        <trim prefix="WHERE" prefixOverrides="AND">
            <if test="keywordType != null and keyword != null and keyword != ''">
                <if test="keywordType == 1">
                    username
                </if>
                <if test="keywordType == 2">
                    contacts
                </if>
                <if test="keywordType == 3">
                    mobile
                </if>
                <if test="keywordType == 4">
                    email
                </if>
                LIKE CONCAT('%', #{keyword}, '%')
            </if>
            <if test="status != null">
                AND status = #{status}
            </if>
        </trim>
    </select>
</mapper>